.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.toolbar .login-button {
  height: 40px;
  margin: 0 16px;
}

.toolbar .register-button {
  height: 40px;
  margin: 0 8px;
}

.toolbar img {
  margin: 0 8px;
}

.toolbar .login-button:hover,
.toolbar .register-button:hover {
  opacity: 0.8;
}

.toolbar .login-button,
.toolbar .register-button {
  display: inline-block;
  vertical-align: middle;
}

.category-container {
  margin: 25px;
  width: 95%;
  height: 90%;
  outline: dashed 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-category-container {
  outline: dashed 1px black;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  justify-content: center;
}

.category-name {
  text-align: center;
}



