<div class="category-container">

  <div class="inside-category-container">
    <div class="category-name">
      Phone cases
    </div>
    <a href="/phone-case" >
    <img  src="assets/Images/phone_case.png"
         alt="Phone case"
         width="100%"
         height="100%">
    </a>
  </div>

  <div class="inside-category-container">
    <div class="category-name">
      Tempered glass
    </div>
    <img src="assets/Images/tempered_glass.png"
         alt="Tempered glass"
         width="100%"
         height="100%">

  </div>

  <div class="inside-category-container">

    <div class="category-name">
      Headphone
    </div>
    <img src="assets/Images/Headphones.png"
         alt="Headphones"
         width="100%"
         height="100%">
  </div>

  <div class="inside-category-container">
    <div class="category-name">
      Phone charger
    </div>
    <img src="assets/Images/charger.png"
         alt="charger"
         width="100%"
         height="100%">
  </div>

</div>
