



<div class="category-container">

  <div class="inside-category-container">
    <div class="category-name">
      Phone cases
    </div>
    <img src="assets/Images/cover-iphone-png-mobile-phone-case-clipart.png"
         alt="Phone case"
         width="100%"
         height="90%">
  </div>

  <div class="inside-category-container">
    <div class="category-name">
      Tempered glass
    </div>
  </div>

  <div class="inside-category-container">
    <div class="category-name">
      Headphone
    </div>
  </div>

  <div class="inside-category-container">
    <div class="category-name">
      Phone charger
    </div>
  </div>

</div>
