<div class="page-container">
  <div class="login-container">
    <br>
    <h1>Welcome!</h1>
  
    <h2>Please login to continue</h2>
    
    <mat-form-field>
      <mat-label>Username:</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="passwordValue">
    </mat-form-field>
    
    <button mat-raised-button (click)="login()">Login</button>
  </div>
</div>

