<p>product works!</p>

<div class="table-container">
  <table class="table-responsive">
    <thead>
            <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Product Image</th>
                    <th colspan="3">Actions</th>
                </tr>
    </thead>
    <tbody>
            <tr *ngFor="let product of product" >
                    <td>{{product.id}}</td>
                    <td><a [routerLink]="[ 'productdetails', product.id ]">{{product.name}}</a></td>
                    <td>{{product.price}}</td>
                    <td><img bind-src="product.thumbnail"></td>
                    <!-- <td> <button [disabled]='isAdmin'>Edit</button>/ -->
                         <!-- <app-add-to-cart [selectedProduct]='product'></app-add-to-cart> -->
                    <!-- </td> -->
                </tr>
                
    </tbody>           
  
  </table>
</div>

